{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'add:add_list' %}">Ads</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'home:register' %}?next={{ request.path }}">Sign up</a>
</li>
{% endblock %} 
{% block content %}
        <h1>SecondHand</h1>
        {% for add in final_list %}
          <div class="card" style="width: 18rem; margin-top: 2mm;">
              <img src="{% url 'add:stream_cover_photo' add.a_id %}" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">{{ add.a_name  }}</h5>
              <p class="card-text">{{ add.descp }}</p>
              <a href="{% url 'user_profile:dashboard_deatil' add.a_id %}" class="btn btn-primary">Dashboard</a>
              <a href="{% url 'add:owner_detail' add.a_id %}" class="btn btn-primary">Detail</a>
              </div>
          </div>
      {% endfor %}
    </ul>
    <nav aria-label="...">
        <ul class="pagination">
           
        {% if  previous_page %}
            <li class="page-item">
                <a class="page-link" href="http://127.0.0.1:8000/add/?page={{ previous_page }}" tabindex="-1">Previous</a>
            </li>    
            {% endif %}
            {% for i in total_pages %}
            {% if i == current_page %}
            <li class="page-item active">
                <a class="page-link" href="http://127.0.0.1:8000/add/?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/add/?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if next_page %}
            <li class="page-item">
                <a class="page-link" href="http://127.0.0.1:8000/add/?page={{ next_page }}">Next</a>
            </li>
        {% endif %}
             
        </ul>
      </nav>
{% endblock %}
