{% extends "base.html" %}
{% block navbardropdown %}
    <li><a class="dropdown-item" href="{% url 'user_profile:profile_photo' %}">Profile Photo</a></li>
    <li><a class="dropdown-item" href="{% url 'user_profile:user_update' %}">Profile Update</a></li>
    <li><a class="dropdown-item" href="{% url 'user_profile:password_update' %}">Password Change</a></li>
    <li><a class="dropdown-item" href="{% url 'user_profile:profile_photo_delete' %}">Delete Profile Photo</a></li>
{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'add:owner_list' %}">Your Ads</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'home:register' %}?next={{ request.path }}">Sign up</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'add:add_create' %}">New Ad</a>
</li>
{% endblock %}

{% block content %}
        <img style="max-width: 40mm; max-height: 40mm; display:block; margin-left: auto; margin-right: auto; float: right;" src="{% url 'user_profile:show_profile_photo' %}">
        <h3>{{ owner.username }}</h3>
        <h3>{{ owner.first_name }}</h3>
        <h3>{{ owner.email }}</h3>
        <h2>Categories</h1>
        <ul>
                {% for category in categories %}
                <li>
                        {{category.name}}
                        {% if user.is_authenticated %}
                        <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
                        <a href="#" onclick=
                            "favPost('{% url 'user_profile:delete_favrioute' category.id %}', {{ category.id }} );return false;"
                            {% if category.id not in favrioute %} style="display: none;" {% endif %}
                            id="favorite_star_{{category.id}}">
                            <span class="fa-stack" style="vertical-align: middle;">
                            <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                            </span>
                        </a>
                        <!-- the second href -->
                        <a href="#" onclick=
                             "favPost('{% url 'user_profile:create_favrioute' category.id %}', {{ category.id }} );return false;"
                            {% if category.id in favrioute %} style="display: none;" {% endif %}
                            id="unfavorite_star_{{category.id}}">
                            <span class="fa-stack" style="vertical-align: middle;">
                            <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                            </span>
                        </a>
                        {% endif %}
                </li>
                {% endfor %}
        </ul>
        <script>
                function favPost(url, thing_id) {
                    console.log('Requesting JSON');
                    $.post(url, {},  function(rowz){
                        console.log(url, 'finished');
                        $("#unfavorite_star_"+thing_id).toggle();
                        $("#favorite_star_"+thing_id).toggle();
                    }).fail(function(xhr) {
                        alert('Url failed with '+xhr.status+' '+url);
                    });
                }
                </script>
{% endblock %}