{% extends "base.html" %}
{% block content %}
<style>
    .star {
        background-color: transparent; 
        color: black; 
        border: none;
    }
</style>
        <h1>List</h1>
        
        {% for add in final_list %}
            {% if add.name %}
            <div class="card" style="width: 18rem; margin-top: 2mm;">
                <a href="{% url 'add:add_detail' add.pk %}" style="text-decoration:none; color: black;">
                    <img src="{% url 'add:stream_cover_photo' add.id %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ add.name }}</h5>
                    <p class="card-text">{{ add.description }}</p>
                {% if user.is_authenticated %}
                    <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
                    <button class="star" href="#" onclick=
                        "favPost('{% url 'add:delete_saved' add.id %}', {{ add.id }} );return false;"
                        {% if add.id not in saved %} style="display: none;" {% endif %}
                        id="favorite_star_{{add.id}}">
                        <i class="bi bi-bookmark-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                        </svg>
                    </button>
                    <!-- the second href -->
                    <button class="star" href="#" onclick=
                        "favPost('{% url 'add:create_saved' add.id %}', {{ add.id }} );return false;"
                        {% if add.id in saved %} style="display: none;" {% endif %}
                        id="unfavorite_star_{{add.id}}">
                        <i class="bi bi-bookmark-star"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                            <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                    </button>
                    {% endif %}
                </div>
                </a>
            </div>
            {% elif add.first_name %}
                <div class="card" style="width: 18rem; margin-top: 2mm;">
                    <a href="{% url 'user_profile:owner_about' add.id %}" style="text-decoration:none; color: black;">
                        <img src="{% url 'user_profile:show_profile_photo_chat' add.id %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ add.first_name }} {{ add.last_name }}</h5>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>                        
            {% else %}
                <!-- <p>there are no adds</p> -->
            {% endif %}
        {% endfor %}
        <nav aria-label="...">
            <ul class="pagination">
               
               
               {% if search %}
                {% if  previous_page %}
                    <li class="page-item">
                        <a class="page-link" href="http://127.0.0.1:8000/add/?q={{ search }}&page={{ previous_page }}" tabindex="-1">Previous</a>
                    </li>    
                    {% endif %}
                    {% for i in total_pages %}
                    {% if i == current_page %}
                    <li class="page-item active">
                        <a class="page-link" href="http://127.0.0.1:8000/add/?q={{ search }}&page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/add/?q={{ search }}&page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if next_page %}
                    <li class="page-item">
                        <a class="page-link" href="http://127.0.0.1:8000/add/?q={{ search }}&page={{ next_page }}">Next</a>
                    </li>
                {% endif %}
                {% else %}
                {% if  previous_page %}
                    <li class="page-item">
                        <a class="page-link" href="http://127.0.0.1:8000/add/?page={{ previous_page }}" tabindex="-1">Previous</a>
                    </li>    
                    {% endif %}
                    {% for i in total_pages %}
                    {% if i == current_page %}
                    <li class="page-item active">
                        <a class="page-link" href="http://127.0.0.1:8000/add/?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/add/?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if next_page %}
                    <li class="page-item">
                        <a class="page-link" href="http://127.0.0.1:8000/add/?page={{ next_page }}">Next</a>
                    </li>
                {% endif %}
               {% endif %}
                 
            </ul>
          </nav>
        
            
        <script>
            function favPost(url, thing_id) {
                console.log('Requesting JSON');
                $.post(url, {},  function(rowz){
                    console.log(url, 'finished');
                    $("#unfavorite_star_"+thing_id).toggle();
                    $("#favorite_star_"+thing_id).toggle();
                }).fail(function(xhr) {
                    alert('Url failed with '+xhr.status+' '+url);
                });
            }
            </script>
{% endblock %}