{% extends "base.html" %}
{% block content %}
    {% block navbar %}
        <a href = "{% url 'add:add_create' %}">create</a>
    {% endblock %}
        <h1>Owner List</h1>
        {% if adds %}
            {% for add in adds %}
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'add:owner_detail' add.pk %}" style="text-decoration:none; color: black;">
                        <img src="{% url 'add:stream_cover_photo' add.id %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ add.name }}</h5>
                        <p class="card-text">{{ add.description }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>there are no adds</p>
        {% endif %}
{% endblock %}