{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'add:new_photo' add.id %}">Add Photo</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'add:add_update' add.id %}">Edit Ad</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'add:add_delete' add.id %}">Delete Ad</a>
</li>
{% endblock %} 
{% block content %}
{% load crispy_forms_tags %}
        
        <h1>{{ add.name }}</h1>

        {% for pic in picture %}
            {% if pic.content_type %}
                <img style="max-width:50%; display:block; margin-left: auto; margin-right: auto;;" src="{% url 'add:steam_pic' pic.id %}" alt="PIC IS NOT WORKING">
            {% endif %}
            <a style="text-decoration:none; color: black;" href="{% url 'add:picture_update' pic.id add.id %}">
                <i class="bi bi-pen"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
            </a>
            <a style="text-decoration:none; color: black;" href="{% url 'add:photo_delete' pic.id %}">
                <i class="bi bi-trash3"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            </a>
        {% endfor %}
        <h1>Features</h1>
        <form method="post" action="{% url 'add:feature_create' add.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Insert">
        </form>
        
        <ul id="feature_list">
            {% for feature in features %}
                <li>
                    <span id="f_name">{{feature.feature_name}}</span>
                    <span id="f">{{feature.feature}}</span>
                    <a href="{% url 'add:feature_update' feature.id %}">Update</a>
                    <form action="{% url 'add:feature_delete' feature.id add.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
            </ul>
        
            <button onclick="new_photo_form('{{ csrf_token }}', '{% url 'add:cover_photo' add.id %}')">new photo</button>
            <button onclick="exisiting_photo_form('{{ pic_id_json }}', '{{ csrf_token }}','{% url 'add:cover_photo' add.id %}')">exisiting photo</button><br>
            <a href="{% url 'add:cover_photo_delete' add.id %}">
                <button>Delete cover photo</button>
            </a>
        <div id="container">

        </div>     
        <script>
            function new_photo_form(csrf_value, link) {
                // create form element
                var form = document.createElement("form");
                form.method = "POST"
                form.action = link
                form.enctype = "multipart/form-data";
            
                // create input element and add to form
                var input = document.createElement("input");
                input.type = "file";
                input.name = "image";
                form.appendChild(input);
            
                // create submit button and add to form
                var submit = document.createElement("input");
                submit.type = "submit";
                submit.value = "Submit";
                form.appendChild(submit);
            
                // get container div
                var container = document.getElementById("container");
                container.innerHTML = ""

                // creating input feild for csrf token
                var csrf = document.createElement("input");
                csrf.type = "hidden";
                csrf.name = "csrfmiddlewaretoken";
                csrf.value = csrf_value;
                form.appendChild(csrf)
            
                // append form to container
                container.appendChild(form);
                
            }      

            function exisiting_photo_form(pic, csrf_value, link) {
                // create form element
                var form = document.createElement("form");
                form.method = "POST";
                form.action = link;
                var my_list = JSON.parse(pic);

                for (let i of my_list){
                    // create input element and add to form
                    var label = document.createElement("label");
                    var input = document.createElement("input");
                    input.type = "radio";
                    input.id = i;
                    input.style = "display: none;";
                    input.checked = "disabled";
                    label.for = i;
                    label.style = "display:inline-block;";
                    input.value = i;
                    input.name = "pic_id";
                    var img = document.createElement("img");
                    img.src = "http://127.0.0.1:8000/add/pics/"+i;
                    img.style = "max-width:50%; display:block; margin-left: auto; margin-right: auto;";
                    img.alt = i
                    img.className = "pic"
                    label.appendChild(input);
                    label.appendChild(img);
                    form.appendChild(label);
                }
                
            
                // create submit button and add to form
                var submit = document.createElement("input");
                submit.type = "submit";
                submit.value = "Submit";
                form.appendChild(submit);
            
                // get container div
                var container = document.getElementById("container");
                container.innerHTML = ""

                // creating input feild for csrf token
                var csrf = document.createElement("input");
                csrf.type = "hidden";
                csrf.name = "csrfmiddlewaretoken";
                csrf.value = csrf_value;
                form.appendChild(csrf)

                // append form to container
                container.appendChild(form);
                
                // scroll to the container
                const elementY = container.getBoundingClientRect().top + window.pageYOffset;
                const speed = 15; // adjust the scrolling speed here
                const step = () => {
                    window.scrollBy(0, speed);
                    if (window.pageYOffset < elementY) {
                        setTimeout(step, 10);
                    }
                }
                step();
                const photos = document.querySelectorAll(".pic");
                console.log(photos)

                photos.forEach(photo => {
                photo.addEventListener("click", function() {
                    photos.forEach(photo => photo.classList.remove("selected"));
                    var unchosed_pic = document.querySelectorAll('.pic');
                    unchosed_pic.forEach(p => p.style = "max-width:50%; display:block; margin-left: auto; margin-right: auto;")
                    this.classList.add("selected");
                    var chosed_pic = document.querySelector('.selected');
                    chosed_pic.style = "outline: 4px solid #0000FF; max-width:50%; display:block; margin-left: auto; margin-right: auto;"
                });
                });
            }
        </script>
{% endblock %}
